@model CQRSNight.CQRSDesignPattern.Command.CategoryCommands.CreateCategoryCommand
@{
    ViewData["Title"] = "CreateCategory";
}
<link href="~lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<div class="container mb-4">
    <form method="post">
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="mb-2 form-control"/>
        
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>

